* {
    font-family: Arial, Helvetica, sans-serif !important;
}

.homepageSpacing {
    margin-top: 1rem;
}

#learnMore {
    text-align: center;
}

#learnMore a:hover {
    background-color: lightcyan !important;
}

/*
All below styles override the defualt theme.
*/
.lightPink {
    background-color: #BEB0C4 !important;
}

.background {
    background-color: #583D66 !important;
}

.whiteText {
    color: rgb(196, 209, 220) !important;
}

.prose a {
    color: rgb(196, 209, 220) !important;
}

body {
    background-color: #583D66 !important;
}

p, h1, h2, h3, h4 {
    color: aliceblue !important;
}

section.lightPink p, section.lightPink h1{
    color: black !important
}

section a {
    padding: 0.15rem;
    
}

section a:hover, .link a:hover {
    background-color: #9764b0;
    border-radius: 0.5em;
    padding: 0.15rem;
}

.mainLinks {
    border-radius: 0.3em;
    padding: 0.5rem;
}

.postInfo {
    color: aliceblue;
}
.postInfoSub {
    color: rgb(196, 209, 220) !important;
}

footer span {
    color: aliceblue !important;
}
