<section class="{{ .Site.Params.ascentColor | default " bg-pink-50" }} dark:bg-gray-900 homepageSpacing lightPink">
    <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
        <div>
            <p class="font-light text-lg">Elixir is a functional language used to build applications at large scales.
                It has advanced error handling and supports many concurrent actions.</p>
        </div>
        <div>
            <p class="font-light text-lg">Applications are broken into processes. An application can easily handle
                thousands of processes at once. This makes it great for projects with large amounts of data to transfer.
            </p>
        </div>
    </div>
</section>

<section class="{{ .Site.Params.ascentColor | default " bg-pink-50" }} dark:bg-gray-900 homepageSpacing lightPink">
    <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
        <p class="font-light text-lg">Elixir code is primarily made of functions. This lessens the need for state
            management. Data is immutable and cannot be changed.
        </p>
        <p class="font-light text-lg">
            Elixir uses pattern matching for conditional statements. This allows it to find the closest "match" and execute the given code.
            
        </p>

    </div>
</section>

<section class="{{ .Site.Params.ascentColor | default " bg-pink-50" }} dark:bg-gray-900 homepageSpacing lightPink">
    <p class="font-light text-lg" id="learnMore">
        Interested in learning more? View the <a href="/en/info" style="color: purple">Info Page</a> to learn more about Elixir!
    </p>
</section>